<div class="body">
  <li>
    <a routerLink="/productlist">
      <div class="btn">My Store</div>
    </a>
  </li>

  <div>
    <ul>
      <li class="btn btn-info">
        <a routerLink="/">Product list</a>
      </li>
      <li>
        <a routerLink="/cart">
          <button type="button" class="btn btn-primary position-relative">
            Cart
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ cartQuantity }}
            </span>
          </button>
        </a>
      </li>
    </ul>
  </div>
</div>
