.body{
  display: flex;
  justify-content: space-between;
  background-color: rgba(30, 150, 235, 0.904);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  z-index: 50;
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: aliceblue;
}
